<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuestionario</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/cuestionario.css'%}"> 
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        body {
            background: url("{% static 'images/fondoCuestionario.jpg' %}") no-repeat center center fixed;
        }
        .quiz-section {
            background: url("{% static 'images/fondoLogin.jpg' %}") no-repeat center center fixed;
        }
        .suggestions-box {
            border: 1px solid #ccc;
            max-height: 150px;
            overflow-y: auto;
            position: absolute;
            background-color: white;
            z-index: 1000;
        }
        .suggestion-item {
            padding: 8px;
            color: #09001d;
            cursor: pointer;
        }
        .suggestion-item:hover {
            background-color: #f0f0f0;
        }
    </style>
</head>

<body>
    <main class="main">
        <header class="header">
            <a href="{% url 'index' %}" class="Logo"><img class="Foto" src="{% static 'images/Logo_DuocUC.png'%}" alt=""></a>

            <nav class="navbar">
                <a href="{% url 'index' %}" class="active">Inicio</a>
            </nav>
        </header>

        <div class="container">
            <section class="quiz-section">
                <div class="quiz-box">
                    <h1>Sección 1.</h1>
                    <div class="quiz-header">
                        <span>Selecciona la alternativa correcta.</span>
                        <span class="header-score">Puntaje: 0 / 11</span>
                    </div>

                    <h2 class="question-text"> 1- ¿Qué organismo gubernamental administra las becas estatales para educación superior en Chile?</h2>

                    <div class="option-list">

                    </div>

                    <div class="quiz-footer">
                        <span class="question-total"> 1 de 11 preguntas</span>
                        <button class="next-btn">Siguiente</button>
                    </div>

                </div>

                <div class="result-box">
                    <h2>Resultados</h2>
                    <div class="percentage-container">
                        <div class="circular-progress">
                            <span class="progress-value">0%</span>
                        </div>

                        <span class="score-text">Puntuación 0 de 11</span>
                    </div>

                    <div class="buttons">
                        <button class="tryAgain-btn">Reiniciar</button>
                        <button class="goHome-btn">Cerrar</button>
                    </div>
                </div>
            </section>


            <section class="home">
                <div class="Carta-Registro">
                    <form id="registro-form">
                        {% csrf_token %}
                        <h1>Registro</h1>
                        <div class="input-box">
                            <input type="text" placeholder="Nombre" required>
                            <i class='bx bxs-user'></i>
                        </div>
                        <div class="input-box">
                            <input type="text" placeholder="Rut" required>
                            <i class='bx bxs-id-card'></i>
                        </div>
                        <div class="input-box">
                            <input type="text" placeholder="Correo" required>
                            <i class='bx bxl-gmail'></i>
                        </div>
                        <div class="input-box">
                            <input type="text" placeholder="Telefono" required>
                            <i class='bx bx-phone'></i>
                        </div>
                        <div class="input-box">
                            <input type="text" placeholder="Colegio" required>
                            <i class='bx bxs-graduation'></i>                
                        </div>
                        <button type="submit" class="start-btn">Comenzar Cuestionario</button>
                    </form>
                    <div id="alert-container"></div>
                </div>
            </section>
        </div>
    </main>

    <div class="popup-info">
        <h2>Importante</h2>
        <span class="info"></span>
        <span class="info">Al continuar, aceptas que los datos ingresados
                             serán almacenados y que Duoc podrá utilizarlos para contactarte.</span>
        <div class="btn-group">
            <button class="info-btn exit-btn">Cerrar</button>
            <a href="#" class="info-btn continue-btn">Continuar</a>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/questions.js'%}"></script> 
    <script src="{% static 'js/cargaDatos.js'%}"></script> 
    <script src="{% static 'js/cuestionario.js'%}"></script>  

</body>

</html>