<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BecaFácil</title>
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css'%}">
</head>
<body>
    <header class="active">
            <a href="#" class="Logo"><img class="Foto" src="{% static 'images/Logo_DuocUC.png'%}" alt=""></a>

            <nav class="navbar">
                <a href="#">Inicio</a>
                <a href="#">Becas</a>
                <a href="#">Sobre DuocUC</a>
                <a href="#">Sede</a>
                <a href="{% url 'login' %}">Intranet</a>

            </nav>
    </header>

    <!--barritas bonitas-->
    <div class="bars-box active">
        <div class="bar" style="--i:6;"></div>
        <div class="bar" style="--i:5;"></div>
        <div class="bar" style="--i:4;"></div>
        <div class="bar" style="--i:3;"></div>
        <div class="bar" style="--i:2;"></div>
        <div class="bar" style="--i:1;"></div>
    </div>

    <!--inicio seccion-->
    <section class="home active">
        <div class="home-detail">
            <h1>BecaFácil</h1>
            <h2>DuocUC 
                <span style="--i:4;" data-text="Sede">Sede</span>
                <span style="--i:3;" data-text="Viña">Viña</span>
                <span style="--i:2;" data-text="Del">Del</span>
                <span style="--i:1;" data-text="Mar">Mar</span>          
            </h2>
            <p>Bienvenido a BecaFácil, el sitio donde puedes poner a prueba tus conocimientos
               sobre las distintas becas disponibles. Responde nuestro cuestionario y descubre
               todo lo que necesitas saber para aprovechar estas oportunidades.</p>
            <div class="btn-sci">
                <a href="{% url 'cuestionario' %}" class="btn">Comenzar Cuestionario</a>
                <div class="sci">
                    <a href="#"><i class='bx bxl-instagram' ></i></a>
                    <a href="#"><i class="bx bxl-linkedin"></i></a>
                    <a href="#"><i class='bx bxl-youtube' ></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-facebook-square' ></i></a>
                </div>
            </div>
        </div>

        <div class="home-img">
            <div class="img-box">
                <div class="img-item">
                    <img src="{% static 'images/example.png'%}" alt="">
                </div>
            </div>
        </div>
    </section>

    <!--Becas seccion-->
    <section class="becas ">
        <h2 class="heading">Becas <span>Estatales</span></h2>
        <div class="becas-container">

            <div class="becas-box">
                <div class="icon">
                    <i class="bx bx-code-alt"></i>
                    <a href="https://portal.beneficiosestudiantiles.cl/becas-y-creditos/beca-de-alimentacion-baes"><i class="bx bx-arrow-back"></i></a>
                </div>
                <h3>Beca de alimentación para la educación superior (BAES)</h3>
                <p>es un apoyo económico complementario para jóvenes que cursen estudios en
                     Instituciones de Educación Superior. Se entrega a través de la transferencia
                      mensual de dinero depositada en una tarjeta electrónica de canje (física o
                    virtual) para ser utilizada en locales con
                     convenio, especializados en la venta de productos alimenticios y supermercados.</p>
            </div>

            <div class="becas-box">
                <div class="icon">
                    <i class="bx bx-code-alt"></i>
                    <a href="https://portal.beneficiosestudiantiles.cl/becas-y-creditos/beca-juan-gomez-millas-bjgm "><i class="bx bx-arrow-back"></i></a>
                </div>
                <h3>Beca Juan Gómez Millas</h3>
                <p>Aporte monetario que permite financiar total o parcialmente el arancel
                    anual de tu carrera. Podrás postular al beneficio si perteneces al 70% de la población
                    de menores ingresos del país, según el Registro Social de Hogares (RSH).</p>
           </div>

            <div class="becas-box">
                <div class="icon">
                    <i class="bx bx-code-alt"></i>
                    <a href="https://portal.beneficiosestudiantiles.cl/becas-y-creditos/beca-excelencia-academica-bea"><i class="bx bx-arrow-back"></i></a>
                </div>
                <h3>Beca Excelencia Académica</h3>
                <p>Estudiantes que pertenezcan al 10% de las/os mejores egresadas/os de su
                     establecimiento de Enseñanza Media, el mismo año de inscripción a la beca.
                      Deben provenir de establecimientos de dependencia Municipal, Servicio Local
                       de Educación, Particular Subvencionados o de Administración delegada; e
                     ingresar a la Educación Superior
                     el año inmediatamente posterior al de su egreso de Enseñanza Media.</p>
            </div>

            <div class="becas-box">
                <div class="icon">
                    <i class="bx bx-code-alt"></i>
                    <a href="https://portal.beneficiosestudiantiles.cl/becas-y-creditos/becas-para-estudiantes-en-situacion-de-discapacidad "><i class="bx bx-arrow-back"></i></a>
                </div>
                <h3>Beca para Estudiantes en Situación de Discapacidad</h3>
                <p>Estudiantes en situación de discapacidad, con rendimiento académico meritorio,
                     y que estén inscritas/os al 31 de diciembre de 2024 en el Registro
                     Nacional de Discapacidad del Servicio de Registro Civil e Identificación..</p>
            </div>

            <div class="becas-box">
                <div class="icon">
                    <i class="bx bx-code-alt"></i>
                    <a href="https://portal.beneficiosestudiantiles.cl/becas-y-creditos/becas-de-reparacion"><i class="bx bx-arrow-back"></i></a>
                </div>
                <h3>Beca Reparación</h3>
                <p>Personas individualizadas como víctimas en el informe de la
                     Comisión Valech (Titulares) o a una/o de sus hijas/os o nietas/os
                      (Traspaso). Estas/os últimas/os podrán hacer uso de la beca si ninguno 
                      de sus
                     familiares ha utilizado el beneficio al momento de la inscripción.</p>
            </div>

            <div class="becas-box">
                <div class="icon">
                    <i class="bx bx-code-alt"></i>
                    <a href="https://portal.beneficiosestudiantiles.cl/becas-y-creditos/beca-nuevo-milenio-bnm"><i class="bx bx-arrow-back"></i></a>
                </div>
                <h3>Beca Nuevo Milenio</h3>
                <p>Aporte monetario que permite financiar total o parcialmente el arancel anual de tu carrera.
                     Podrás acceder al beneficio si perteneces
                     a la población de menores ingresos del país, según el Registro Social de Hogares (RSH).</p>
            </div>
            
            <div class="becas-box">
                <div class="icon">
                    <i class="bx bx-code-alt"></i>
                    <a href="https://portal.beneficiosestudiantiles.cl/becas-y-creditos/beca-excelencia-tecnica-bet"><i class="bx bx-arrow-back"></i></a>
                </div>
                <h3>Beca de Excelencia Técnica</h3>
                <p>Esta beca premia a los estudiantes egresados de Enseñanza Media durante los cuatro años previos
                     a su matrícula en la Educación Superior,
                     y que opten por una carrera técnica o una profesional impartida por un Instituto Profesional.</p>
            </div>

            <div class="becas-box">
                <div class="icon">
                    <i class="bx bx-code-alt"></i>
                    <a href="https://portal.beneficiosestudiantiles.cl/becas-y-creditos/beca-de-articulacion-bar"><i class="bx bx-arrow-back"></i></a>
                </div>
                <h3>Beca de Articulación</h3>
                <p>Permite a egresados, egresadas, titulados o tituladas de carreras técnicas durante 2022 y 2023,
                     que deseen continuar sus estudios para obtener un título profesional,
                     financiar total o parcialmente el arancel anual por un monto máximo de $750 mil.</p>
            </div>

        </div>
    </section>

    <!--Sobre nosotros-->
    <section class="resume ">
        <div class="resume-container">
            <div class="resume-box">
                <h2>Nuestra identidad</h2>
                <p class="desc">Duoc UC es una Institución Católica de Educación Superior que, participando a la misión evangelizadora de la Iglesia, está al servicio del desarrollo de la sociedad por medio de la formación de personas, técnicos y profesionales, capaces de desplegar un proyecto de vida integral con una impronta ético-cristiana.</p>
                <button class="resume-btn active">Misión</button>
                <button class="resume-btn">Visión</button>
                <button class="resume-btn">Propósito</button>
            </div>

            <div class="resume-box">
                <div class="resume-detail Misión active">
                    <h2 class="heading">Nuestra <span>Misión</span></h2>
                        <p class="desc">“Formar personas, en el ámbito técnico y profesional, con una sólida base ética inspirada en los valores cristianos, capaces de aportar en forma significativa al mundo laboral y comprometidas con el desarrollo de la sociedad.”</p>
                        <div class="resume-list">
                            <div class="resume-item">
                                <p class="Valores"></p>
                                <h3>Integridad</h3>
                                <p>Actuamos de manera honesta, coherente y consecuente a los principios y valores que nos inspiran con una disposición permanente al Bien y a la Verdad.</p>
                            </div>
                            <div class="resume-item">
                                <p class="Valores"></p>
                                <h3>Respeto</h3>
                                <p>Reconocemos la dignidad y originalidad de cada persona como ser creado por Dios, aceptando y valorando sus legítimas diferencias, lo que se expresa en un trato equitativo e inclusivo que se desprende naturalmente desde nuestra propia identidad.</p>
                            </div>
                            <div class="resume-item">
                                <p class="Valores"></p>
                                <h3>Calidad</h3>
                                <p>Estamos conscientes que el trabajo está en función de la persona, y que ésta a través de su labor participa en la obra del Creador. Es por ello que trabajamos siempre con dedicación y rigurosidad, y nos comprometemos a alcanzar altos estándares de excelencia en todo nuestro quehacer para satisfacer las necesidades y expectativas de nuestros alumnos y de la sociedad.</p>
                            </div>
                            <div class="resume-item">
                                <p class="Valores"></p>
                                <h3>Colaboración y Compromiso</h3>
                                <p>Trabajamos como equipo poniendo lo mejor de cada uno al servicio del propósito trascendente de nuestra institución y de la sociedad, por lo que actuamos con vocación y convicción entregando lo mejor de nosotros para cumplir con la promesa hecha a nuestros estudiantes.</p>
                            </div>
                            <div class="resume-item">
                                <p class="Valores"></p>
                                <h3>Espíritu de Servicio</h3>
                                <p>Tenemos una disposición permanente a colaborar y ponernos al servicio de los demás, procurando el bien del prójimo, guiados siempre por nuestro propósito común.</p>
                            </div>
                        </div>

                </div>

                <div class="resume-detail Visión">
                    <h2 class="heading">Nuestra <span>Visión</span></h2>
                        <p class="desc">“Ser la institución más reconocida del ámbito técnico profesional para la formación de personas, que se distinga por la pertinencia de su preparación disciplinar, humana y ética, inspirada en la identidad católica.”</p>
                        <div class="resume-list">
                            <div class="resume-item">
                                <i class='bx bxs-user-plus'></i>
                                <span>Integridad</span>
                            </div>
                            <div class="resume-item">
                                <i class='bx bxs-home-heart'></i>
                                <span>Respeto y Tolerancia</span>
                            </div>
                            <div class="resume-item">
                                <i class='bx bxs-medal'></i>
                                <span>Calidad</span>
                            </div>
                            <div class="resume-item">
                                <i class='bx bxs-group'></i>
                                <span>Colaboración y Compromiso</span>
                            </div>
                            <div class="resume-item">
                                <i class='bx bxs-donate-heart'></i>
                                <span>Espíritu de Servicio</span>
                            </div>
                        </div>
                </div>

                <div class="resume-detail Propósito">
                    <h2 class="heading">Nuestra <span>Propósito</span></h2>
                        <p class="desc">“Formamos personas para una sociedad mejor.”</p>
                </div>
            </div>
        </div>
    </section>

    <!--Sede-->
    <section class="sede ">
        <h2 class="heading">Sede <Span>Viña del mar</Span></h2>
        <div class="sede-container">
            <div class="sede-box">
                <div class="sede-detail active">
                    <p class="numb">1</p>
                    <h3>Entrada</h3>
                    <p>Lorem, ipsum dolor.</p>
                    <div class="tech">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, expedita.</p>
                    </div>
                </div>

                <div class="sede-detail">
                    <p class="numb">2</p>
                    <h3>Teatro</h3>
                    <p>Lorem, ipsum dolor.</p>
                    <div class="tech">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, expedita.</p>
                    </div>
                </div>

                <div class="sede-detail">
                    <p class="numb">3</p>
                    <h3>Patio central</h3>
                    <p>Lorem, ipsum dolor.</p>
                    <div class="tech">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, expedita.</p>
                    </div>
                </div>

                <div class="sede-detail">
                    <p class="numb">4</p>
                    <h3>Edificio Sur</h3>
                    <p>Lorem, ipsum dolor.</p>
                    <div class="tech">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, expedita.</p>
                    </div>
                </div>

                <div class="sede-detail">
                    <p class="numb">5</p>
                    <h3>Edificio administrativo</h3>
                    <p>Lorem, ipsum dolor.</p>
                    <div class="tech">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, expedita.</p>
                    </div>
                </div>

                <div class="sede-detail">
                    <p class="numb">6</p>
                    <h3>CTI</h3>
                    <p>Lorem, ipsum dolor.</p>
                    <div class="tech">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, expedita.</p>
                    </div>
                </div>
            </div>

            <div class="sede-box">
                <div class="sede-carousel">
                    <div class="img-slide">
                        <div class="img-item">
                            <img src="{% static 'images/sede.jpg'%}">
                        </div>
                        <div class="img-item">
                            <img src="{% static 'images/sede.jpg'%}">
                        </div>
                        <div class="img-item">
                            <img src="{% static 'images/sede.jpg'%}">
                        </div>
                        <div class="img-item">
                            <img src="{% static 'images/sede.jpg'%}">
                        </div>
                        <div class="img-item">
                            <img src="{% static 'images/sede.jpg'%}">
                        </div>
                        <div class="img-item">
                            <img src="{% static 'images/CITT.jpeg'%}">
                        </div>
                    </div>
                </div>

                <div class="navigation">
                    <button class="arrow-left disabled"><i class='bx bx-chevron-left' ></i></button>
                    <button class="arrow-right"><i class='bx bx-chevron-right'></i></button>
                </div>
            </div>
        </div>
    </section>


    <script src="{% static 'js/index.js'%}"></script>   
</body>
</html>